@import url(/src/index.css);

.gameover-container{
  color:white;
  font-family: var(--titles-font);
  width:80vw;
  display:flex;
  flex-direction: column;
  gap:15px;
}

.buttons-container{
  display:flex;
  justify-content: center;
  gap:15px;
}

.gameover-container button{
  width:400px;
  font-size: 1.2em;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #E3432D;
  border: 1px solid white;
  color:white;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}