@font-face {
    font-family: "Poppins Medium";
    src: url(/fonts/medium.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(/fonts/medium.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(/fonts/bold.ttf);
}

:root{
    --mediumfont:"Poppins Medium";
    --boldfont:"Poppins Bold"
}