*{
  padding:0;
  margin:0;
}

@font-face {
  font-family: "Poppins Font";
  src: url("../public/fonts/Poppins-SemiBold.ttf");
}

:root{
  --titles-font:"Poppins Font"
}

body{
  background-color: black;
}